div#layer1
{
	position: absolute;
	width: 220px;
	height: 310px;
	z-index: 3;

}
div#layer2
{ border:2px solid #3399CC; 
 width: 196px; 
 height: 296px; 
 z-index: 2; 
 background-color:#FFFFCC; 
 opacity:0.8;
 filter:alpha(opacity=80);
 float:left;
}
div#toolimage
{width:20px;
 float:left;
}
div#shopbox
{ position:absolute;
  width:165px;
  height:79px;
  z-index:6;
  
  right:5px;
  opacity:0.9;
 filter:alpha(opacity=90);
   
}
div#shopbox1
{  position: fixed;
  width:600px;
  height:79px;
  z-index:7;
  
   opacity:0.9;
 filter:alpha(opacity=90);
  
   
    top: 5px;
    left: 5px;

	
 

}
div#layer2 div.sidebartext
{ 
  margin-left:10px;
  margin-right:10px;
  font-size:10pt;
  margin-top:10px;
}
div#layer2 div.sidebartext a
{color:#06C;
}