@charset "gb2312";
hr           { color: #0000FF; }

#container {
	width: 990px;
	margin: 0 auto;
}
#container #head
{height:60px;
}

#container #nav {
	margin-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #06F;
		border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #06F;

	width:990px;
	height:26px;
	clear:both;
	font-family:黑体;
	
}

div#topic
{
	width: 990px;
	height: 50px;
	background-color:#069;
	}
div#topic div#topicbox
{padding-top:10px; 
margin-left:20px;

}
div#topic span.topicmain
{
	font-size: 18pt;
	font-weight:bold;
	color: #FFF;
 }
  div#topic span.topicmiddle
{
	font-size: 12pt;
	font-weight:bold;
	color: #FFF;
   }
 div#topic span.topicsub
{ font-size: 10pt;
   }
   

#container #topic div a {
	color: #FF9;
}
#container div#content
{
	border-right-width: 2px;
	border-left-width: 2px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-left-color: #CCC;
	padding-left: 10px;
	padding-right: 10px;
	
}
#container div#content img
{
	border-style:none;
	
}
input.ollbtn {font-size:10pt; width:88px;padding-left:2px}
input.ollbtn1 {font-size:10pt; width:60px;padding-left:2px}
#container #content .baidi {
	font-weight: bold;
	color: #000;
	background-color:#FFF;
}
#container #content .huangdi {
	font-weight: bold;
	color: #000;
	background-color:#FF3;
}
#container #content .landi {
	font-weight: bold;
	color: #FFF;
	background-color: #00C;
}
#container #content .hongdi {
	font-weight: bold;
	color: #FFF;
	background-color: #F00;
}
#container #content .chengdi {
	font-weight: bold;
	color: #FFF;
	background-color:#F60;
}
#container #content .lvdi {
	font-weight: bold;
	color: #FFF;
	background-color:#060;
}
#container #content .steptitle {
	background-color: #b5c6e2;
	height:49px;
	width:948px;
	clear:left;
	margin-top:20px;
	padding:5px;
	
	
}
#container #content .steptitle img{
	float:left;
}
#container #content .steptitle h2{
 display:block;
 float:left;
 margin-left:20px;
 margin-top:11px;
 height:1.1em;

	
}
#container #content tr.tdsmall td
{
	font-size:10pt;
	line-height: 120%;
}#container #content #topvideopart {
	width: 100%;
	padding-top:20px;
}
#container #content div.topleft {
	width: 210px;
	float:left;
	text-align:center;
}
#container #content div.topleft1 {
	width: 190px;
	float:left;
	text-align:center;
}
#container #content div.topmiddle {
	width: 750px;
	margin: 0 auto;
}
#container #content div.topmiddle1 {
	width: 540px;
	float:left;
}

#container #content div.topright {
	width: 210px;
	float:left;
	text-align:center;
}
#container #content div.topright1 {
	width: 190px;
	float:left;
	text-align:center;
}
#container #content #yaodian {
	width: 100%;
	clear:left;
}
#container #content #topvideopart #topmiddletop {
	font-size: 10pt;
	color: #000080;
	line-height: 150%;
	padding: 10px;
}
#container #content #topvideopart #topmiddlemiddle {
	text-align: center;
	width: 100%;
	padding-top: 10px;
}
#container #content #topvideopart td {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
}
#container #content #topvideopart table.newstep3 td{
	padding:0px;
}
#container #content #topvideopart table.newstep6{
	border:1px solid #999;
}
#container #content #topvideopart table.newstep6 td{
	padding:0px;
	text-align:center;
}
#container #content #topvideopart table.newstep6 td div.newstep6div
{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #999;
	border-bottom-color: #999;
}
#container table.fridrich1 div.3d       { margin-top:5px;}
#container table.fridrich1 div.video       { margin-top:5px;font-size:10pt;}
#container table.fridrich1 input.btnvideo  {font-size:10pt;}
#container table.fridrich1 input.btnvideo1  {font-size:10pt; width:65px;padding-left:2px}
#container table.fridrich2 div.video       { margin-top:5px;margin-bottom:5px;}
#container #content #yaodian .proftable tr td img {
	padding-top: 10px;
	padding-bottom: 10px;
}
#container #content #yaodian table.proftable {
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
}
#container #content td div#maincontent p {
	font-size: 12px;
	line-height: 150%;
	text-indent: 32px;
	color: #CCC;
}
#container #content div.steve p {
	line-height: 150%;
	text-indent: 40px;
	font-size: 16px;
	font-weight:bold;
	color: #FFF;
}
#container #content .jiaocheng p{
	font-family: 'Microsoft Yahei',"微软雅黑",arial,宋体,sans-serif;
}
#container #content .yahei{
	font-family: 'Microsoft Yahei',"微软雅黑",arial,宋体,sans-serif;
}
#container #content .larger{
	font-size:larger;
}

#container #content .largest{
	font-size:200%;
}
#container #content .large{
	font-size:large;
}#container #content tr.f2lalg td {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
#container #content #oll tr td {
	text-align: center;
}
#container #content #ollyouku tr td {
	text-align: center;
}
#container #content  tr.ollalg td {
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
#container #content .ollvideo td.ollstep {
	font-family: "微软雅黑";
	font-size: 24px;
	padding-left: 30px;
	padding-right: 30px;
}
#container #content .proftable tr td p {
	font-family: "微软雅黑";
	font-size: 24px;
	font-weight: normal;
	padding-left: 30px;
}
#container #content #prof12 .alg td {
	font-size: 20px;
	font-weight: bold;
	border-bottom-width: thick;
	border-bottom-color: #FF8080;
}

span.youku
{ color:#06F;
font-weight:bold;
font-size:large;
}

#qqonline {
    position: fixed;
    top: 200px;
    right: 10px;
    z-index: 9999;

    width: 93px;
    color: #fff;
      
    padding: 2px 0;
    display: block;
   
}


